
  
  .body{
    z-index:1;
      background-color: rgb(189, 189, 184);}

  .visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    }  

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
      margin:0;
      padding: 0;
    }
      
  .H1-tittle {
    color: rgb(241, 15, 15);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 100px;
  }
  
  .central-bloc{
  background-color: rgb(39, 39, 43);
  max-width: inherit;
  background:chocolate url("../img/sunflower.jpg")
  
  }

  .main-foto{
    background-image:linear-gradient(to right, rgba(240, 14, 14, 0.6), rgba(0,0,0, 0.7)), url(../img/cb2bc8c71179.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
   .header{
    background-color: rgb(56, 48, 48);
    display: flex;
   }

   .conteiner{
    max-width: 1100px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .conteiner.nav{
    padding-top: 0;
  }

  
  .vxid{
    display: inline-block;
    font-size: 17px;
   color: rgb(227, 240, 240);
   background-color: rgb(155, 200, 236);
   padding: 10px;
   min-width: 100px;
   margin-left: auto;
   margin-right: 10px;
   text-align: center;
  }

.vxid:hover{
  background-color: rgb(129, 105, 236);
}

 .registration{
  font-size: 17px;
  color: rgb(227, 240, 240);
  background-color: rgb(155, 200, 236);
  padding: 10px;
  min-width: 100px;
  margin-right: 10px;
  text-align: center;
  
 }
  
 .registration:hover{
  background-color: rgb(129, 105, 236);
 }
  .section-navi{
    background-color: rgb(29, 151, 90);
   }
    
 .navi{
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
 }

   .navi-sait{
    position: relative;
    min-width: 100px;
    margin-right: 20px;
    outline: 2px solid rgba(10, 10, 10, 0.3);

   }

.navi-sait:hover .subnavi{ opacity: 1;

}


.menu-link{
  display: block;
    padding: 8px 8px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(24, 26, 24);
    color: rgb(230, 36, 36);
}

   .subnavi{
    position: absolute;
    opacity: 0;
    margin: 0;
   width: 100%;
   left: 0;
   top: 100%;
   text-align: center;
    list-style: none;
   background-color: rgb(233, 220, 210);
    color: rgb(15, 15, 15);
   }

   .subnavi a{
     list-style: none;
     text-decoration: none;
     color: brown;
     margin-top: 6px;
   }

.podiya-option{
      background-color: blueviolet;
      color: crimson;
    }
  
 .h2opus{
    font-size: 50px; 
    color: rgb(73, 30, 30);
    
    text-transform: uppercase;
    text-align: center;
  }
  
  .opus{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }

   .video{
    text-decoration: none;
  }
  
  .books{
    text-decoration: none;
  }
  .memoris{
    text-decoration: none;
  }
  
  .history-war{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  .new{
    padding-bottom:  200px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  

  .foter{
    
   
    background-color: white;
  }

  .adres{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  width: 100%;
    background-color: rgb(10, 10, 10);
    color: darkgray;
   
  }
  